<div class="bg-light">
    <div class="container space-1">
        <div class="mb-3">
            <h1 class="h3 text-primary font-weight-normal mb-0">@ViewData["Header"] <span class="font-weight-semi-bold"> @ViewData["HeaderBold"]</span></h1>
            <p>
                @ViewData["Description"]
            </p>
        </div>
    </div>
</div>