@model Triton.Model.Utils.MessageModel
@{
    ViewData["Title"] = "Message";
}


<main id="content" role="main" class="main">
    <!-- Content -->
    <div class="content container-fluid">
        <div class="row align-items-sm-center py-sm-10">
            <div class="col-sm-6">
                <div class="text-center text-sm-right mr-sm-4 mb-5 mb-sm-0">
                    <img class="w-60 w-sm-100 mx-auto" src="~/front-dashboard-v1.1/src/assets/svg/illustrations/think.svg" alt="Image Description" style="max-width: 15rem;">
                </div>
            </div>

            <div class="col-sm-6 col-md-4 text-center text-sm-left">
                <h4 class="display-1 mb-0">404</h4>
                <p class="lead">@Model.Message</p>
                <p class="lead">@Model.RootPath </p>
                <p>
                    <a class="btn btn-primary" href="@Url.Action("Index", "Home")">Go back to the App</a>
                </p>

            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Content -->
</main>
